<div class="row container" *ngIf="puzzle">
    <div class="center col-md-12">
        <h3>Puzzle: {{puzzle.nome}}</h3>
    </div>
    <div class="col-md-6 form-group">
        <form [formGroup]="puzzleForm" (ngSubmit)="onSubmit()">
            <label>
                pagina:
                <input type="text" class="form-control" formControlName="nPagina">
            </label>
            <label>
                titolo:
                <input type="text" class="form-control" formControlName="nome">
            </label>
            <button type="submit" [disabled]="!puzzleForm.valid">aggiorna</button>
        </form>
    </div>
    <div class="col-md-6 mrg-t-20">

        <div *ngIf="puzzle.listaParole.length > 0; then listaParole else uploadFile"></div>
        <ng-template #listaParole>
            <app-word-list (listaParoleChange)="onListaParoleChange()"></app-word-list>
        </ng-template>
        <ng-template #uploadFile>
            <h5>Carica Parole da file</h5>
            <app-upload-file (fileContentOutput)="onWordsLoaded($event)"></app-upload-file>
        </ng-template>

        <app-aggiungi-parola [listaParole]="puzzle.listaParole" ></app-aggiungi-parola>
        <app-stats-parole></app-stats-parole>
        

    </div>
</div>